<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=" icon" href="../static/pic/charge.png"/>
    <title>VoltWay Home</title>
</head>

    

<!-- HEADER SECTION -->


<header style="padding-top: 10px;padding-bottom: 10px;">
  <a href="{{ url_for('home') }}" class="logo"> <img src="../static/pic/logo.png" alt="logo"> </a>
  <nav style="font-weight: bold;">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('contact_us') }}">Contact us</a></li>
      <li><a href="{{ url_for('login') }}" class="cta">Login</a></li>
  </ul>
  </nav>
  
  
</header>

    <body style="background-image: url(../static//pic/bg.jpeg);">

      <div class="hero" style="height: 600px;text-align: center;font-weight: bolder;color: #000;padding-top: 30px;">
        <h1>EV Charging Hub Finder</h1>
        <p>Empowering your electric journey with clean energy and exceptional service—charging stations designed to meet your every need.</p>
      </div>
    </header>
    
    

    <section class="about" style="background-color: #39c2d4;">
      <h1 style="text-align: center;font-weight: bolder;color: #fff;">About Us</h1><br>
      <p style="text-align: center;font-weight: bolder;color: #fff;">Driven by innovation and sustainability, we are a passionate team dedicated to revolutionizing your electric vehicle charging experience. Our state-of-the-art charging stations are powered by clean energy, delivering fast, reliable, and eco-friendly solutions. Whether you're on the go or planning ahead, we offer a wide range of services tailored to meet your needs and exceed expectations. Join us in shaping a greener, smarter future for electric mobility!.</p>
      <!-- <button>Learn More</button> -->
    </section>

    <!-- <section class="contact">
      <h2>Contact Us</h2>
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
        <button type="submit">Send</button>
      </form>
    </section> -->

    





</body>

    </html>












